.download-link {
  background: transparent url(../images/appstorebadge.png) center center no-repeat;
  background-size: 100% auto;
}

#featured-banner-content {
  width: 256px;
  background: transparent url(../images/badge_red.png) center center no-repeat;
  background-size: 100% auto;
}

#editorschoice-feature {
  width: 255px;
  background: transparent url(../images/badge.png) center center no-repeat;
}

@media screen and (min-width: 748px) {
  #product-heros .app-store-info.touch {
    width: 550px;
  }

  #editorschoice-feature {
    width: 468px;
    background: transparent url(../images/badge_ie_medium.png) center center no-repeat;
  }
}

@media screen and (min-width: 1002px) {
  #editorschoice-feature {
    width: 872px;
    background: transparent url(../images/badge_ie_large.png) center center no-repeat;
  }
}

#follow-feature.visible,
#recommend-feature.visible,
#save-feature.visible,
#editorschoice-feature.visible {
  display: block;
}

#follow-feature,
#recommend-feature,
#save-feature,
#editorschoice-feature {
  display: none;
}
