.download-link {
  background: transparent url(../images/appstorebadge.png) center center no-repeat;
  background-size: 100% auto;
}

@media screen and (min-width: 748px) {
  #product-heros .app-store-info {
    width: 450px;
  }
}
