@font-face {
    font-family: 'readabiliconsregular';
    src: url('readabilicons-regular.eot');
    src: url('readabilicons-regular.eot?#iefix') format('embedded-opentype'),
         url('readabilicons-regular.woff') format('woff'),
         url('readabilicons-regular.ttf') format('truetype'),
         url('readabilicons-regular.svg#readabiliconsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin sentinel-font {
  font-family: 'Sentinel A', 'Sentinel B', 'Georgia', serif;
}

@mixin readabilicons {
  font-family: 'readabiliconsregular';
}

@mixin opacity($float, $percent) {
  opacity: $float;
  filter: alpha(opacity=$percent);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = #{$percent});
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity =  #{$percent});
}

@mixin transition($property, $duration, $easing) {
  transition: $property $duration $easing;
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -ms-transition: $property $duration $easing;
}

@mixin translate3d($x, $y, $z) {
  transform: translate3d($x, $y, $z);
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
}

@mixin animation($name, $duration, $repeat, $easing, $delay) {
  animation: $name $duration $repeat $easing;
  -webkit-animation: $name $duration $repeat $easing;
  -moz-animation: $name $duration $repeat $easing;
  -ms-animation: $name $duration $repeat $easing;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  -ms-animation-delay: $delay;
  -moz-animation-delay: $delay;
}

@mixin overflowfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
