@import "reset";
@import "mixins";

$linkblue: #5692bc;
$column: 56px;
$wide-width: 1002px;
$narrow-width: 100%;

html,
body {
  color: #fdfdfd;
  font-size: 1em;
  background-color: #a6001b;
  @include sentinel-font;
}

a:link,
a:visited {
  color: #a6001b;
  text-decoration: none;
  @include transition(color, 150ms, ease-in-out);
}

a:hover {
  color: #555;
}

h1, h2, h3 {
  -webkit-font-smoothing:antialiased;

  &:before {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

#feature-rundown {
  display: block;
  width: 90%;
  margin: 0 auto 0;
  text-align: center;

  li {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 1.3em 0;
    text-align: center;
  }

  span {
    @include readabilicons;
    color: #a6001b;
    font-size: 4em;
  }

  p {
    margin-top: .9em;
    line-height: 1.4;
    font-size: 1.2em;
    color: #555;
  }
}

#featured-banner-content {
  width: 256px;
  background: transparent url(../images/badge_red.svg) center center no-repeat;
  background-size: 100% auto;
  padding: 5em 0;
  margin: 3em auto 0;
  text-align: center;
  color: #333;

  h3 {
    font-size: 1.6em;
  }

  p {
    display: block;
    color: #bd7e1a;
    margin-top: .5em;
    font-size: .8em;
    font-family: Georgia;
    font-weight: 100;
    text-transform: uppercase;
  }
}

#product-heros {
  float: left;
  border-top: 5px solid #a6001b;
  width: 100%;
  background: #fdfdfd;
  position: relative;
  z-index: 10;
  overflow: hidden;
  @include overflowfix;

  .app-store-info {
    width: 135px;
    margin: 3em auto 4em;
    display: block;
    @include overflowfix;
    height: 40px;

    a {
      display: inline-block;

      &:hover {
        color: #d47979;
      }
    }

    p {
      float: left;
      padding: .4em 0 .4em .7em;
      border-left :1px solid #e1e1e1;
      color: #999;
      font-size: .96em;
      margin-left: .7em;
      display: none;
    }

    span {
      color: #333;
      display: block;
      text-align: center;
      margin-bottom: .5em;
    }
  }

  img {
    position: absolute;
    left: 50%;
  }

  h1 {
    padding: 1.5em 0 .1em;
    color: #353535;
    text-align: center;
    font-size: 2em;

    span {
      font-weight: bold;
      color: #a6001b;
    }
  }

  h2 {
    display: block;
    color: #555;
    font-size: 1.2em;
    text-align: center;
  }
}

#screenshot-wrapper {
  height: 594px;
  position: relative;
  overflow: hidden;
  margin: 1em 0 0;
}

#hero1 {
  margin-left: -140px;
  top: 0;
  width: 280px;
  z-index: 10;
}

#hero2 {
  margin-left: -175px;
  top: 0;
  width: 300px;
  z-index: 9;
  display: none;
}

.download-link {
  float: left;
  font-size: 0;
  text-indent: -9999px;
  width: 135px;
  height: 40px;
  background: transparent url(../images/appstorebadge.svg) center center no-repeat;
  background-size: 100% auto;
  display: inline-block;
}

footer {
  float: left;
  width: 100%;
  background: #fdfdfd;
  position: relative;
  z-index: 10;

  ul {
    border-top: 1px solid #e8e8e8;
    margin: 0 auto;
    width: 90%;
    padding: 1em 0;
  }

  li {
    display: block;
    padding: .6em 0;
    font-size: 1.2em;
    text-align: center;

    &:first-child {
      color: #353535;
      font-size: 1.6em;
      @include readabilicons;
    }
  }

  .feedback-link {
    margin-right: 0.3em;
  }
}

@media screen and (min-width: 520px) {
  #feature-rundown {
    p {
      font-size: 1.4em;
    }
    li {
      width: 70%;
      padding: 1.5em 0;
    }
  }

  #featured-banner-content {
    width: 440px;
    font-size: 1.3em;

    h3 {
      font-size: 2em;
    }

    p {
      font-size: 1.2em;
    }
  }

  #screenshot-wrapper {
    height: 846px;
  }

  #product-heros {
    .app-store-info.touch {
      width: 135px;
      height: 40px;
    }

    h1 {
      font-size: 2.6em;
    }

    h2 {
      font-size: 1.7em;
    }
  }

  #hero1 {
    width: 400px;
    margin-left: -200px;
  }
}

@media screen and (min-width: 748px) {
  #screenshot-wrapper {
    height: 426px;
    margin-top: 1.5em;
  }

  #hero1 {
    margin-left: 170px;
    top: 34px;
    width: 186px;
  }

  #hero2 {
    margin-left: -360px;
    top: 0;
    width: 620px;
    display: block;
  }

  .download-link {
    width: 135px;
    height: 40px;
  }

  footer {
    ul {
      width: 90%;
      padding: 2em 0;
    }

    li {
      margin-left: 0.6em;
      font-size: 1em;
      display: inline-block;

      &:first-child {
        font-size: 1.2em;
      }
    }
  }

  .feedback-link {
    float: right;
    margin-right: 0.3em;
  }

  #product-heros {
    float: left;
    background: #fdfdfd;
    position: relative;
    z-index: 10;
    overflow: hidden;

    h1 {
      padding-top: 1em;
      font-size: 3.4em;
    }

    .app-store-info {
      width: 425px;
      margin: 3em auto 5em;

      p {
       padding: .4em 0 .4em .9em;
        font-size: 1.4em;
        margin-left: 1em;
        color: #555;
        display: inline-block;
      }

      span {
        display: none;
      }
    }
  }

  #feature-rundown {
    margin-top: -2em;

    li {
      display: inline-block;
      width: 27%;
      margin: 0 3%;

      p {
        font-size: 1.3em;
      }
    }
  }

  #featured-banner-content {
    width: 420px;
    margin-top: .5em;
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1002px) {
  #product-heros {
    .app-store-info.touch {
      margin-top: 5em;
    }

    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 2em;
    }
  }

  #screenshot-wrapper {
    height: 565px;
  }

  #feature-rundown {
    li {
      font-size: 1em;
      display: inline-block;
      width: 27%;
      max-width: 280px;
      margin: 0 2%;
    }
  }

  #featured-banner-content {
    width: 440px;
    font-size: 1.4em;
  }

  #hero1 {
    margin-left: 230px;
    top: 55px;
    width: 240px;
  }

  #hero2 {
    margin-left: -470px;
    top: 0;
    width: 820px;
  }
}