/**
                                     iL0G
                                fGGGGGGGG
                             :GGGGGGGGGGG
       1GGGGGGGi           .GGGGGGf  LGGGGGGC.         fGGGGGGC:         1GGGGGGG;
    GGGGGGGGGGGGGGG tGGGGGCGGGGG .GGGGGGGGGGGGGG1   GGGGGGGGGGGGGGL   G0GGGGGGGGGGGGG
  GGGGGGGGi:iGGGGGGGG GGGGGGGGf 0GGGGGGL::tGGGGG  GGGGGGGC;:1GGGGGGGGGGGGGGG;:1GGGGGGGL
 GGGGGf         LGGGGG GGGGGGt.GGGGG.         G  GGGGG,         GGGGGGGG1         CGGGGG
fGGGG.           .GGGGL.GGGGG GGGGG             GGGGG            tGGGGG            :GGGG1
GGGGG             GGGGG GGGGC.GGGG,             GGGGt             GGGGG             GGGGG
GGGGG             GGGGG GGGGC GGGGf             GGGGG             GGGGG             GGGGG
:GGGGC           GGGGGG GGGGC GGGGG.            CGGGGi           GGGGGGL           GGGGG.
 iGGGGGf       fGGGGGGG GGGGC  GGGGG0.       GG. GGGGGG,       GGGGGGGGGGt       CGGGGG;
   GGGGGGGGGGGGGGGGGGGG GGGGC   i0GGGGGGGGGGGGGGt .GGGGGGGGGGGGGGGGG GGGGGGGGGGGGGGGGG
     LGGGGGGGGGGGL                 GGGGGGGGGGGG:     CGGGGGGGGGGGGG    CGGGGGGGGGGGf
                                                            :GGGGG
                                                           iGGGGG
                                                          tGGGGG
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@font-face {
  font-family: 'readabiliconsregular';
  src: url("readabilicons-regular.eot");
  src: url("readabilicons-regular.eot?#iefix") format("embedded-opentype"), url("readabilicons-regular.woff") format("woff"), url("readabilicons-regular.ttf") format("truetype"), url("readabilicons-regular.svg#readabiliconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'readabiliconsregular';
  src: url("readabilicons-regular.eot");
  src: url("readabilicons-regular.eot?#iefix") format("embedded-opentype"), url("readabilicons-regular.woff") format("woff"), url("readabilicons-regular.ttf") format("truetype"), url("readabilicons-regular.svg#readabiliconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Devices ---------------------------------------*/
.device {
  position: relative; }

.device-image {
  position: absolute; }

.iphone {
  background: transparent url(../images/iphone_black.png) top center no-repeat;
  background-size: 55px 108px;
  width: 55px;
  height: 108px; }
  .iphone.white {
    background-image: url(../images/iphone_white.png); }
  .iphone .device-image {
    top: 16px;
    left: 6px;
    width: 43px; }

.ipad {
  background: transparent url(../images/ipad_mini_black.png) top center no-repeat;
  background-size: 121px 170px;
  width: 121px;
  height: 170px; }
  .ipad.white {
    background-image: url(../images/ipad_mini_white.png); }
  .ipad .device-image {
    top: 16px;
    left: 10px;
    width: 102px; }

.macbook {
  background: transparent url(../images/macbook_air.png) top center no-repeat;
  background-size: 310px 178px;
  width: 310px;
  height: 178px; }
  .macbook .device-image {
    top: 15px;
    left: 42px;
    width: 225px; }

.nexus {
  background: transparent url(../images/nexus7.png) top center no-repeat;
  background-size: 112px 167px;
  width: 112px;
  height: 167px; }
  .nexus .device-image {
    top: 19px;
    left: 17px;
    width: 80px; }

.android-phone {
  background: transparent url(../images/android_phone.png) top center no-repeat;
  background-size: 58px 113px;
  width: 58px;
  height: 113px; }
  .android-phone .device-image {
    top: 11px;
    left: 4px;
    width: 50px; }

@media screen and (min-width: 748px) {
  .iphone {
    background-size: 110px 216px;
    width: 110px;
    height: 216px; }
    .iphone .device-image {
      top: 33px;
      left: 13px;
      width: 85px; }

  .ipad {
    background-size: 243px 340px;
    width: 243px;
    height: 340px; }
    .ipad .device-image {
      top: 32px;
      left: 19px;
      width: 205px; }

  .macbook {
    background-size: 621px 357px;
    width: 621px;
    height: 357px; }
    .macbook .device-image {
      top: 31px;
      left: 84px;
      width: 451px; }

  .nexus {
    background-size: 225px 334px;
    width: 225px;
    height: 334px; }
    .nexus .device-image {
      top: 38px;
      left: 34px;
      width: 159px; }

  .android-phone {
    background-size: 117px 227px;
    width: 117px;
    height: 227px; }
    .android-phone .device-image {
      top: 23px;
      left: 8px;
      width: 100px; } }
html,
body {
  color: #fff;
  font-size: 1em;
  background-color: #a6001b;
  font-family: 'Sentinel A', 'Sentinel B', 'Georgia', serif; }

a:link,
a:visited {
  color: #5692bc;
  text-decoration: none;
  transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  -moz-transition: color 150ms ease-in-out;
  -ms-transition: color 150ms ease-in-out; }

a:hover {
  color: #555; }

.wrapper {
  width: 100%; }

#main-nav {
  background-color: #a6001b;
  padding: 0.4em 0.2em 0.6em 0.8em;
  position: relative;
  font-weight: normal; }
  #main-nav .readability-couch {
    background-color: #900;
    color: #fdfdfd;
    font-size: 1.4em;
    line-height: 0.9;
    padding-right: 0.2em;
    position: relative;
    z-index: 2;
    font-family: 'readabiliconsregular'; }

.registration-nav {
  font-family: 'Sentinel A', 'Sentinel B', 'Georgia', serif;
  color: #fdfdfd;
  display: inline-block;
  float: right;
  font-size: 0.8em;
  font-weight: 600;
  line-height: 1.6;
  position: relative;
  z-index: 2; }
  .registration-nav a {
    border: 1px solid #900;
    border-radius: 3px;
    color: #fdfdfd;
    font-weight: normal;
    display: inline-block;
    padding: 0.1em 0.4em 0 0.4em;
    text-decoration: none;
    -webkit-transition: border-color 0.1s;
    transition: border-color 0.1s; }

#intro {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: -250px;
  overflow: hidden;
  text-align: center; }
  #intro .couch-icon {
    display: block;
    font-size: 6em;
    margin: 0em auto -.1em;
    color: white;
    font-family: 'readabiliconsregular'; }
  #intro h1 {
    font-size: 8em;
    font-weight: bold;
    color: white; }
    #intro h1 span {
      font-weight: normal;
      font-size: .5em;
      display: block; }
  #intro p {
    line-height: 1.3;
    font-size: 1.6em;
    width: 60%;
    color: #fff;
    margin: 5em auto .7em; }
    #intro p span {
      display: block; }
  #intro .device-image {
    margin-top: 3em;
    width: 900px;
    height: auto;
    position: relative; }

#download-link {
  width: 140px;
  display: block;
  margin: 0 auto; }
  #download-link img {
    width: 100%; }

#article-icons {
  position: relative; }
  #article-icons li {
    width: 30px;
    height: 50px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: -50px;
    margin-left: -15px;
    color: #ff565a;
    font-size: 2.7em;
    font-family: 'readabiliconsregular'; }

#container {
  position: relative; }

#follow-feature,
#recommend-feature,
#save-feature {
  position: fixed;
  width: 26%;
  top: 50%;
  opacity: 0;
  left: 50%;
  margin-left: -13%;
  margin-top: -205px;
  display: block;
  text-align: center;
  font-size: 2.6em;
  transition: opacity 400ms ease-in-out;
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out; }
  #follow-feature.visible,
  #recommend-feature.visible,
  #save-feature.visible {
    opacity: 1; }
  #follow-feature.fixed,
  #recommend-feature.fixed,
  #save-feature.fixed {
    position: absolute; }
  #follow-feature p,
  #recommend-feature p,
  #save-feature p {
    width: 100%;
    margin: 0 auto;
    font-size: .6em;
    line-height: 1.4; }

.section-icon {
  margin: 0 auto .2em;
  font-size: 6em;
  display: block;
  font-family: 'readabiliconsregular'; }

#follow-feature .section-icon {
  margin-left: .1em; }

#hero {
  background: #202020; }
  #hero img {
    margin-top: -300px;
    width: 120%; }

.product-screen {
  position: relative;
  background: #d8d8d8;
  overflow: hidden;
  position: relative;
  height: 900px; }
  .product-screen.short {
    height: 700px; }
  .product-screen .hero1 {
    margin-top: 80px;
    margin-left: 15%;
    width: 40%; }
  .product-screen .hero2 {
    margin-top: 60px;
    margin-left: 45%;
    width: 40%; }
  .product-screen img {
    height: auto; }

#settings {
  width: 100%;
  background-color: rgba(30, 30, 30, 0.9);
  margin: 0 auto 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  color: white;
  left: 0; }
  #settings ul li {
    display: inline-block; }

#fonts,
#mode,
#sizing {
  float: left;
  width: 25%; }

#mode {
  padding: 1.5em 0em;
  text-align: center; }

#fonts {
  width: 50%;
  font-weight: bold;
  font-size: 2em;
  padding: .3em 0em;
  text-align: center; }
  #fonts span {
    display: block;
    font-weight: normal;
    font-size: .4em; }

#slider {
  width: 80%;
  height: 2px;
  margin-top: 34px;
  position: relative;
  background: #c1c1c1; }
  #slider span {
    width: 30px;
    height: 30px;
    position: absolute;
    background: white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    top: -15px;
    left: 50%;
    margin-left: -15px; }

#awards {
  background: #c8c8c8;
  height: 200px; }

@media screen and (min-width: 380px) {
  #featured-lab-project .featured-lab-project-image img {
    width: 340px; } }
@media screen and (min-width: 640px) {
  #default-header {
    background-size: auto 120%; } }
@media screen and (min-width: 748px) {
  .wrapper {
    width: 748px;
    margin: 0 auto; } }
@media screen and (min-width: 1002px) {
  .wrapper {
    width: 1002px; } }
