/**
                                     iL0G
                                fGGGGGGGG
                             :GGGGGGGGGGG
       1GGGGGGGi           .GGGGGGf  LGGGGGGC.         fGGGGGGC:         1GGGGGGG;
    GGGGGGGGGGGGGGG tGGGGGCGGGGG .GGGGGGGGGGGGGG1   GGGGGGGGGGGGGGL   G0GGGGGGGGGGGGG
  GGGGGGGGi:iGGGGGGGG GGGGGGGGf 0GGGGGGL::tGGGGG  GGGGGGGC;:1GGGGGGGGGGGGGGG;:1GGGGGGGL
 GGGGGf         LGGGGG GGGGGGt.GGGGG.         G  GGGGG,         GGGGGGGG1         CGGGGG
fGGGG.           .GGGGL.GGGGG GGGGG             GGGGG            tGGGGG            :GGGG1
GGGGG             GGGGG GGGGC.GGGG,             GGGGt             GGGGG             GGGGG
GGGGG             GGGGG GGGGC GGGGf             GGGGG             GGGGG             GGGGG
:GGGGC           GGGGGG GGGGC GGGGG.            CGGGGi           GGGGGGL           GGGGG.
 iGGGGGf       fGGGGGGG GGGGC  GGGGG0.       GG. GGGGGG,       GGGGGGGGGGt       CGGGGG;
   GGGGGGGGGGGGGGGGGGGG GGGGC   i0GGGGGGGGGGGGGGt .GGGGGGGGGGGGGGGGG GGGGGGGGGGGGGGGGG
     LGGGGGGGGGGGL                 GGGGGGGGGGGG:     CGGGGGGGGGGGGG    CGGGGGGGGGGGf
                                                            :GGGGG
                                                           iGGGGG
                                                          tGGGGG
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'readabiliconsregular';
  src: url("readabilicons-regular.eot");
  src: url("readabilicons-regular.eot?#iefix") format("embedded-opentype"), url("readabilicons-regular.woff") format("woff"), url("readabilicons-regular.ttf") format("truetype"), url("readabilicons-regular.svg#readabiliconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html,
body {
  color: #fdfdfd;
  font-size: 1em;
  background-color: #a6001b;
  font-family: 'Sentinel A', 'Sentinel B', 'Georgia', serif; }

a:link,
a:visited {
  color: #a6001b;
  text-decoration: none;
  transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  -moz-transition: color 150ms ease-in-out;
  -ms-transition: color 150ms ease-in-out; }

a:hover {
  color: #555; }

h1, h2, h3 {
  -webkit-font-smoothing: antialiased; }
  h1:before, h2:before, h3:before {
    -webkit-font-smoothing: subpixel-antialiased; }

/* Touch Styles -----------------------*/
body.touch #intro,
body.touch #follow-feature,
body.touch #recommend-feature,
body.touch #save-feature,
body.touch #editorschoice-feature {
  display: none; }
body.touch #product-heros {
  height: 1780px;
  border-top: 5px solid #a6001b; }
  body.touch #product-heros h1 {
    padding-bottom: .2em; }
  body.touch #product-heros h2 {
    display: block;
    color: #555;
    font-size: 1.2em;
    text-align: center; }
body.touch #feature-rundown {
  display: block;
  width: 90%;
  margin: 0 auto 0;
  text-align: center; }
  body.touch #feature-rundown li {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 1.3em 0;
    text-align: center; }
  body.touch #feature-rundown span {
    font-family: 'readabiliconsregular';
    color: #a6001b;
    font-size: 4em; }
  body.touch #feature-rundown p {
    margin-top: .9em;
    line-height: 1.4;
    font-size: 1.2em;
    color: #555; }
body.touch #featured-banner-content {
  width: 256px;
  background: transparent url(../images/badge_red.svg) center center no-repeat;
  background-size: 100% auto;
  padding: 5em 0;
  margin: 660px auto 0;
  text-align: center;
  color: #333; }
  body.touch #featured-banner-content h3 {
    font-size: 1.5em; }
  body.touch #featured-banner-content p {
    display: block;
    color: #999;
    margin-top: .5em;
    font-size: .9em;
    font-family: Georgia;
    font-weight: 100;
    text-transform: uppercase; }
body.touch .app-store-info.first {
  display: none; }
body.touch .app-store-info.touch {
  display: block;
  margin-top: 4em; }
  body.touch .app-store-info.touch p {
    display: none; }
body.touch #hero1 {
  top: 130px; }
body.touch #hero2 {
  top: 140px; }

#feature-rundown,
#featured-banner,
.app-store-info.touch {
  display: none; }

.couch-icon {
  display: block;
  font-family: 'readabiliconsregular';
  -webkit-font-smoothing: antialiased; }
  .couch-icon:before {
    -webkit-font-smoothing: subpixel-antialiased; }

.arrow-icon {
  display: block;
  margin: 2.5em auto 0;
  width: 20px;
  height: 20px;
  border-right: 2px solid #fdfdfd;
  border-top: 2px solid transparent;
  border-bottom: 2px solid #fdfdfd;
  border-left: 2px solid transparent;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  animation: pulse 2s infinite ease-in-out;
  -webkit-animation: pulse 2s infinite ease-in-out;
  -moz-animation: pulse 2s infinite ease-in-out;
  -ms-animation: pulse 2s infinite ease-in-out;
  animation-delay: 0;
  -webkit-animation-delay: 0;
  -ms-animation-delay: 0;
  -moz-animation-delay: 0; }

#intro {
  z-index: 9;
  width: 100%;
  padding: 8em 0 6em;
  overflow: hidden;
  text-align: center; }
  #intro .couch-icon {
    font-size: 2.4em;
    margin: 0em auto -.1em;
    color: white; }
  #intro h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
    margin: 0; }
  #intro h2 {
    line-height: 1.3;
    font-size: 1.4em;
    width: 90%;
    color: #fdfdfd;
    margin: 0 auto; }
  #intro .app-store-info {
    margin: 6em auto 0;
    width: 320px; }
    #intro .app-store-info:after {
      content: "";
      clear: both;
      display: block; }
    #intro .app-store-info a {
      float: left;
      width: 135px;
      height: 40px; }
    #intro .app-store-info p {
      float: left;
      display: block;
      color: #fdfdfd;
      border: none;
      font-size: .9em;
      line-height: 1.4;
      margin: 0 1em 0 10px;
      padding: .1em 1em .1em 20px;
      border-right: 1px solid #db1f3e;
      text-align: right; }
      #intro .app-store-info p span {
        display: block; }
  #intro .device-image {
    margin-top: 3em;
    width: 900px;
    height: auto;
    position: relative; }

#scroll-instructions {
  float: left;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: #e94c53;
  margin: .6em auto;
  border: none;
  font-family: 'Sentinel A', 'Sentinel B', 'Georgia', serif; }

#download-link {
  width: 140px;
  display: block;
  margin: 0 auto; }
  #download-link img {
    width: 100%; }

.article-list {
  position: relative;
  font-size: .4em;
  display: none; }
  .article-list li {
    width: 20px;
    height: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: -50px;
    margin-left: -10px;
    color: #ff565a;
    z-index: 999;
    font-size: 2.2em;
    font-family: 'readabiliconsregular'; }

#article-icons {
  display: block;
  font-size: 1em; }
  #article-icons li {
    position: fixed; }
    #article-icons li.hidden {
      opacity: 0; }

#container {
  position: relative; }

#follow-feature,
#recommend-feature,
#save-feature,
#editorschoice-feature {
  position: fixed;
  z-index: 1;
  width: 90%;
  top: 50%;
  opacity: 0;
  left: 50%;
  margin-left: -45%;
  margin-top: -175px;
  display: block;
  text-align: center;
  font-size: 2.6em;
  transition: opacity 400ms ease-in-out;
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out; }
  #follow-feature.visible,
  #recommend-feature.visible,
  #save-feature.visible,
  #editorschoice-feature.visible {
    opacity: 1; }
  #follow-feature.fixed,
  #recommend-feature.fixed,
  #save-feature.fixed,
  #editorschoice-feature.fixed {
    position: absolute; }
  #follow-feature p,
  #recommend-feature p,
  #save-feature p,
  #editorschoice-feature p {
    width: 90%;
    margin: .1em auto;
    font-size: .5em;
    line-height: 1.4; }

#editorschoice-feature {
  margin-left: -45%;
  font-size: 2em;
  margin-top: -140px;
  background: transparent url(../images/badge.svg) center center no-repeat;
  background-size: 100% auto;
  padding: 3em 0; }
  #editorschoice-feature p {
    color: #e94c53;
    font-family: Georgia;
    font-weight: 100;
    text-transform: uppercase; }

.section-icon {
  margin: 0 auto .2em;
  font-size: 3.4em;
  display: block;
  font-family: 'readabiliconsregular'; }

#follow-feature .section-icon {
  margin-left: .1em; }

#recommend-feature .section-icon {
  margin-left: -.7em; }

.app-store-info {
  width: 300px;
  margin: 0 auto; }
  .app-store-info a {
    display: inline-block; }
    .app-store-info a:hover {
      color: #d47979; }
  .app-store-info p {
    float: left;
    padding: .4em 0 .4em .7em;
    border-left: 1px solid #e1e1e1;
    color: #999;
    font-size: .96em;
    display: inline-block;
    margin-left: .7em; }

#follow-article-icons li.article-1 {
  margin-left: -130px;
  margin-top: 100px; }
#follow-article-icons li.article-2 {
  margin-left: -110px;
  margin-top: 10px; }
#follow-article-icons li.article-3 {
  margin-left: -30px;
  margin-top: 30px; }
#follow-article-icons li.article-4 {
  margin-left: 55px;
  margin-top: 20px; }
#follow-article-icons li.article-5 {
  margin-left: 90px;
  margin-top: 120px; }

#recommend-article-icons li.article-1 {
  margin-left: 30px;
  margin-top: 115px; }
#recommend-article-icons li.article-2 {
  margin-left: 70px;
  margin-top: -20px; }
#recommend-article-icons li.article-3 {
  margin-left: 10px;
  margin-top: 40px; }
#recommend-article-icons li.article-4 {
  margin-left: 80px;
  margin-top: 70px; }
#recommend-article-icons li.article-5 {
  margin-left: 100px;
  margin-top: 130px; }

#save-article-icons li.article-1 {
  margin-left: -145px;
  margin-top: 100px; }
#save-article-icons li.article-2 {
  margin-left: -105px;
  margin-top: 10px; }
#save-article-icons li.article-3 {
  margin-left: -15px;
  margin-top: -10px; }
#save-article-icons li.article-4 {
  margin-left: 75px;
  margin-top: 10px; }
#save-article-icons li.article-5 {
  margin-left: 110px;
  margin-top: 100px; }

#product-heros {
  float: left;
  width: 100%;
  background: #fdfdfd;
  position: relative;
  z-index: 10;
  height: 550px;
  overflow: hidden; }
  #product-heros .app-store-info {
    width: 135px; }
  #product-heros img {
    position: absolute;
    left: 50%; }
  #product-heros h1 {
    padding: 1.5em 0 .3em;
    color: #353535;
    text-align: center;
    font-size: 2em; }
    #product-heros h1 span {
      font-weight: bold;
      color: #a6001b; }
  #product-heros h2 {
    display: none; }

#hero1 {
  margin-left: -140px;
  top: 165px;
  width: 280px;
  z-index: 10; }

#hero2 {
  margin-left: -175px;
  top: 174px;
  width: 300px;
  z-index: 9;
  display: none; }

.download-link {
  float: left;
  font-size: 0;
  text-indent: -9999px;
  width: 135px;
  height: 40px;
  background: transparent url(../images/appstorebadge.svg) center center no-repeat;
  background-size: 100% auto;
  display: inline-block; }

footer {
  float: left;
  width: 100%;
  background: #fdfdfd;
  position: relative;
  z-index: 10; }
  footer ul {
    border-top: 1px solid #e8e8e8;
    margin: 0 auto;
    width: 90%;
    padding: 1em 0; }
  footer li {
    display: block;
    padding: .6em 0;
    font-size: 1.2em;
    text-align: center; }
    footer li:first-child {
      color: #353535;
      font-size: 1.6em;
      font-family: 'readabiliconsregular'; }

.feedback-link {
  margin-right: 0.3em; }

@media screen and (min-width: 520px) {
  body.touch #product-heros {
    height: 1850px; }
    body.touch #product-heros .app-store-info.touch {
      width: 135px;
      height: 40px;
      margin: 3em auto; }
      body.touch #product-heros .app-store-info.touch p {
        display: none; }
    body.touch #product-heros h1 {
      padding-bottom: .1em; }
    body.touch #product-heros h2 {
      font-size: 1.7em; }
  body.touch #feature-rundown p {
    font-size: 1.4em; }
  body.touch #feature-rundown li {
    width: 70%;
    padding: 1.5em 0; }
  body.touch #featured-banner-content {
    width: 440px;
    font-size: 1.3em;
    margin-top: 680px; }
  body.touch #hero1 {
    top: 190px; }

  #follow-feature p,
  #recommend-feature p,
  #save-feature p,
  #editorschoice-feature p {
    width: 60%; }

  #editorschoice-feature {
    width: 60%;
    margin-left: -30%; }

  #product-heros {
    height: 600px; }
    #product-heros h1 {
      font-size: 3em; }
    #product-heros .app-store-info {
      width: 416px; }
    #product-heros p {
      font-size: 1.4em;
      display: inline-block; }

  #hero1 {
    top: 200px; } }
@media screen and (min-width: 748px) {
  #intro {
    padding: 11em 0 9em; }
    #intro .couch-icon {
      font-size: 4em;
      margin: 0em auto -.1em; }
    #intro h1 {
      font-size: 6em; }
    #intro h2 {
      font-size: 2em;
      width: 60%;
      margin: 0 auto; }
    #intro .app-store-info {
      margin: 8em auto 0;
      width: 362px; }
      #intro .app-store-info p {
        font-size: 1em;
        margin-left: 20px; }
    #intro .device-image {
      margin-top: 3em;
      width: 900px; }

  #download-link {
    width: 140px; }

  .article-list {
    font-size: .6em;
    display: none; }
    .article-list li {
      width: 30px;
      height: 50px;
      top: -50px;
      margin-left: -15px;
      font-size: 2.4em; }

  #follow-feature,
  #recommend-feature,
  #save-feature,
  #editorschoice-feature {
    width: 90%;
    margin-left: -45%;
    margin-top: -205px;
    font-size: 2.6em; }
    #follow-feature p,
    #recommend-feature p,
    #save-feature p,
    #editorschoice-feature p {
      width: 50%;
      margin: 0 auto;
      font-size: .6em; }

  #editorschoice-feature {
    width: 70%;
    margin-left: -35%;
    font-size: 3em;
    margin-top: -220px;
    padding: 3em 0; }

  .section-icon {
    margin: 0 auto .2em;
    font-size: 6em; }

  #follow-feature .section-icon {
    margin-left: .1em; }

  #recommend-feature .section-icon {
    margin-left: -.8em; }

  #product-heros {
    height: 780px; }
    #product-heros h1 {
      padding: 1em 0 .2em;
      font-size: 5em; }
    #product-heros .app-store-info {
      width: 425px;
      margin: 0 auto; }
      #product-heros .app-store-info p {
        padding: .4em 0 .4em .9em;
        font-size: 1.4em;
        margin-left: 1em; }

  #hero1 {
    margin-left: 180px;
    top: 286px;
    width: 186px; }

  #hero2 {
    margin-left: -360px;
    top: 254px;
    width: 620px;
    display: block; }

  .download-link {
    width: 135px;
    height: 40px; }

  footer ul {
    width: 90%;
    padding: 2em 0; }
  footer li {
    margin-left: 0.6em;
    font-size: 1em;
    display: inline-block; }
    footer li:first-child {
      font-size: 1.2em; }

  .feedback-link {
    float: right;
    margin-right: 0.3em; }

  body.touch #intro {
    position: relative;
    left: auto;
    top: auto;
    margin: 0; }
  body.touch #follow-feature p,
  body.touch #recommend-feature p,
  body.touch #save-feature p,
  body.touch #editorschoice-feature p {
    width: 40%; }
  body.touch #save-feature {
    padding-bottom: 3em;
    border-bottom: 1px solid #d22c2c; }
  body.touch #editorschoice-feature {
    border-top: none;
    margin: 0 auto; }
  body.touch .article-list {
    display: block; }
  body.touch #hero1 {
    top: 236px; }
  body.touch #hero2 {
    top: 206px; }
  body.touch #product-heros {
    float: left;
    background: #fdfdfd;
    position: relative;
    z-index: 10;
    overflow: hidden;
    height: 1400px; }
    body.touch #product-heros h1 {
      font-size: 4em; }
    body.touch #product-heros h2 {
      font-size: 2.4em; }
    body.touch #product-heros .app-store-info.touch {
      width: 425px;
      margin-top: 4em; }
      body.touch #product-heros .app-store-info.touch p {
        color: #555;
        display: inline-block; }
  body.touch #container {
    float: left;
    width: 100%;
    background-color: #a6001b; }
  body.touch #follow-article-icons {
    display: block; }
  body.touch #feature-rundown {
    margin-top: -2em; }
    body.touch #feature-rundown li {
      display: inline-block;
      width: 27%;
      margin: 0 3%; }
      body.touch #feature-rundown li p {
        font-size: 1.3em; }
  body.touch #featured-banner-content {
    margin-top: 500px;
    width: 420px;
    font-size: 1.5em; }

  #follow-article-icons li.article-1 {
    margin-left: -190px;
    margin-top: 150px; }
  #follow-article-icons li.article-2 {
    margin-left: -150px;
    margin-top: 10px; }
  #follow-article-icons li.article-3 {
    margin-left: -30px;
    margin-top: 20px; }
  #follow-article-icons li.article-4 {
    margin-left: 90px;
    margin-top: 0px; }
  #follow-article-icons li.article-5 {
    margin-left: 130px;
    margin-top: 160px; }

  #recommend-article-icons li.article-1 {
    margin-left: 40px;
    margin-top: 175px; }
  #recommend-article-icons li.article-2 {
    margin-left: 130px;
    margin-top: -20px; }
  #recommend-article-icons li.article-3 {
    margin-left: 30px;
    margin-top: 40px; }
  #recommend-article-icons li.article-4 {
    margin-left: 98px;
    margin-top: 96px; }
  #recommend-article-icons li.article-5 {
    margin-left: 160px;
    margin-top: 190px; }

  #save-article-icons li.article-1 {
    margin-left: -210px;
    margin-top: 100px; }
  #save-article-icons li.article-2 {
    margin-left: -150px;
    margin-top: 10px; }
  #save-article-icons li.article-3 {
    margin-left: -30px;
    margin-top: -30px; }
  #save-article-icons li.article-4 {
    margin-left: 90px;
    margin-top: 10px; }
  #save-article-icons li.article-5 {
    margin-left: 160px;
    margin-top: 100px; } }
@media screen and (min-width: 1002px) {
  body.touch #product-heros {
    height: 1540px; }
    body.touch #product-heros .app-store-info.touch {
      margin-top: 5em; }
  body.touch #feature-rundown li {
    font-size: 1em;
    display: inline-block;
    width: 27%;
    margin: 0 2%; }
  body.touch #featured-banner-content {
    margin-top: 620px;
    width: 440px;
    font-size: 1.6em; }
  body.touch #hero1 {
    top: 262px; }
  body.touch #hero2 {
    top: 204px; }

  #intro .couch-icon {
    font-size: 5em; }
  #intro h1 {
    font-size: 8em; }
  #intro h2 {
    font-size: 2.6em; }

  #product-heros {
    height: 960px; }
    #product-heros h1 {
      padding: 1em 0 .1em;
      font-size: 6em; }

  #hero1 {
    margin-left: 230px;
    top: 327px;
    width: 240px; }

  #hero2 {
    margin-left: -470px;
    top: 274px;
    width: 820px; }

  #editorschoice-feature {
    margin-top: -300px;
    font-size: 4.3em; } }
@media screen and (min-width: 1202px) {
  #editorschoice-feature {
    margin-top: -330px;
    font-size: 5em; } }
@keyframes pulse {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes pulse {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes pulse {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes pulse {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
