@import "mixins";

/* Devices ---------------------------------------*/
.device {
  position: relative;
}

.device-image {
  position: absolute;
}

.iphone {
  background: transparent url(../images/iphone_black.png) top center no-repeat;
  background-size: 55px 108px;
  width: 55px;
  height: 108px;

  &.white {
    background-image: url(../images/iphone_white.png);
  }

  .device-image {
    top: 16px;
    left: 6px;
    width: 43px;
  }
}

.ipad {
  background: transparent url(../images/ipad_mini_black.png) top center no-repeat;
  background-size: 121px 170px;
  width: 121px;
  height: 170px;

  &.white {
    background-image: url(../images/ipad_mini_white.png);
  }

  .device-image {
    top: 16px;
    left: 10px;
    width: 102px;
  }
}

.macbook {
  background: transparent url(../images/macbook_air.png) top center no-repeat;
  background-size: 310px 178px;
  width: 310px;
  height: 178px;

  .device-image {
    top: 15px;
    left: 42px;
    width: 225px;
  }
}

.nexus {
  background: transparent url(../images/nexus7.png) top center no-repeat;
  background-size: 112px 167px;
  width: 112px;
  height: 167px;

  .device-image {
    top: 19px;
    left: 17px;
    width: 80px;
  }
}

.android-phone {
  background: transparent url(../images/android_phone.png) top center no-repeat;
  background-size: 58px 113px;
  width: 58px;
  height: 113px;

  .device-image {
    top: 11px;
    left: 4px;
    width: 50px;
  }
}

@media screen and (min-width: 380px) {

}

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 748px) {
  .iphone {
    background-size: 110px 216px;
    width: 110px;
    height: 216px;

    .device-image {
      top: 33px;
      left: 13px;
      width: 85px;
    }
  }

  .ipad {
    background-size: 243px 340px;
    width: 243px;
    height: 340px;

    .device-image {
      top: 32px;
      left: 19px;
      width: 205px;
    }
  }

  .macbook {
    background-size: 621px 357px;
    width: 621px;
    height: 357px;

    .device-image {
      top: 31px;
      left: 84px;
      width: 451px;
    }
  }

  .nexus {
    background-size: 225px 334px;
    width: 225px;
    height: 334px;

    .device-image {
      top: 38px;
      left: 34px;
      width: 159px;
    }
  }

  .android-phone {
    background-size: 117px 227px;
    width: 117px;
    height: 227px;

    .device-image {
      top: 23px;
      left: 8px;
      width: 100px;
    }
  }
}

@media screen and (min-width: 1002px) {

}
